# Copy these values to Streamlit Community Cloud's Advanced settings > Secrets.
# Do not commit a populated secrets.toml file.
GOOGLE_SHEET_ID = "1wM7DTHizhg_A3h0qV3EhX4os4hk46uolW-ESQSJkgZs"
GOOGLE_WORKSHEET_NAME = "testing"

[gcp_service_account]
type = "service_account"
project_id = "king-ipa"
private_key_id = "7a9532fdbe564c2062d8ea6c88e14d58fbabc1b0"
private_key = """-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDST2Y1JkYCvygE
dHJYXLPHNFjN/bNIVvblZ4Prx6cpxIywprWU/gOM6CGO0MKta4XTGDqI7CQYRWvh
gxBdFJiErmgDjg3G2PE4uX4VM9ZNIs/jc91Ryw4AHjMOfazkFBemfVX+JWdnSGhX
maHx400Sj5u8uPIx6kXX0xA31dCFJQp/M48nAhuz4uKlkdxzWAdOFsPwqON7hjS/
Gr19i9c+03sh/OMzhWr+zVLOjDB3DotNTpSzhbs8S96SedmtyIJ3rQuw2MQlztEL
ypEUe99ITT/HXDjD5yvLh5CXTalbqaxh3hX1wdoxzTndSJ7dADG+Bph6s6HAFT7C
27k0RRVtAgMBAAECggEALeZ9YKk/S3csBTjjAe0NobMHlMHDwMyWK0BZ9vpGviNz
L1TbOa7s2HKLbG+cpZvbg9R8Zgjf4do47umbhy0pEoA8HFaDJDyR/Tbi0T7UjVZF
OBfAHItsPVNaAlYkh0zpUoF1ZLgGJvETMNdLlI7u8dec/mYBGirO3olmt0D3ty8W
lpPR8eEAW/MjrV2wrRKiBaD6bQxWshW3/LXBtMR3e8VSK4vOYQQ22EJk4fpSG2rW
xNBHmeyp2vtqerrszoEvaGAazx8RiIFRHbmnKyFPWKpFT1YbrMblLWNvnZ4IFToi
RlHBqScYj4maMYdyjofbgdbaQg6XwIjFlIW+1S7bcQKBgQDuaIh7/15OOTm9NIwr
PYid7vVRWFJBE6U3p4QoAbHOxpnWRdErc904SU4xnvvcVFFs1m6Ajt0E9GP9wi0m
KiFfItSkmL66wC08mHYrDnSLWEEe2gOx2ekL1E2hwR5meaCB9+wVnYoP3o3CrTS7
DVKj4nA6Y1ihjoUs796qJ5WsBQKBgQDh1BluhzASXkr5owEFKecWrfF4yYaKzxsA
t7uNm74JXDpKE4UXY2bNY/WS/aAhfWaNqP87LvRVdegxK/t9W2asCHm9BqdT1RCm
pI1zDEsP7UMeq4vbgniU9UFqBElX9jrAU3KEKbTEKn3sqoNx3/CG1p1D73I8Q9hI
7Qz7PPFoSQKBgBx5CYvdlNK8zOOG6hKj97P8/PlpFfHFud6quALbKPQsDeVkUzXg
UZROVPNiLGxE+bCI74uVBFp6IZMF5MSBFZk6HLFHuMeu+fgZsUs1H8Agmy5nFTfh
cY7DHT5rRQkyD3RWOrDeLsX0a3PLodeRIMSH36VphgVNcyRJxYsGzT5NAoGBAIWn
JOIQangEjHUQbvMiaJ04lzg4dUND7aRQGVVm/mLFzc23ncZI0zft2BKFvrbzY7Wl
dmENmhfWL3SipjX72Vkprvsbq/5mlHM74mdbuDUV4+qL9rsUjc8DFBLttIa1uPHI
sXbcxBpxV5OxGxhTRCRZcjwZw889DA2lFlC/MdTZAoGBAJ7Qg31J3DkoEGQERUaF
8RI3MFO93xu63yGiVrsr9j1c5PKtVKvBt1T2WdAhO49wpcKUNByyM3Bfe68QshBs
cRQWTPBAmNOVNhUyiEpxwpU2L9ygFAE/6bf4M09cQviEk4UtRnG+SgnyFdTf49RJ
j560xhFz3k6wHLp2qtRZyK9N
-----END PRIVATE KEY-----
"""
client_email = "khemra2@king-ipa.iam.gserviceaccount.com"
client_id = "106322957807053962629"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "https://www.googleapis.com/robot/v1/metadata/x509/khemra2%40king-ipa.iam.gserviceaccount.com"

TELEGRAM_API_ID = "22365302"
TELEGRAM_API_HASH = "df22eea81948788953b28b8112ab926a"
TELEGRAM_PHONE_NUMBER = "+855885478958"
TELEGRAM_SESSION_STRING = "AAAABQAAxs5t/b3nWpmOl8OQW+SgvU/2+J3KV4Meujyw17Zhfjz7XSrLH9hgk/ysUbf9LkE97e/1kBv5WmYJrkfr5Rkth6MH5o1jFAZh7ifym0X41ZlxbDYhPQFLS1cVN6Kt9J7acDl6BR+4koBpI0G/bn96Hu3HJPCeDJ88Pq7qRCtYx4wqkO0mPgpvtMzldYSsQIknljAqLab1J+JuyVEPUKnjmmjfDY3NhWifNjyMdCav/TSvDiLpF8Xcxft71SaM7XgmNynvLSy1v5iIvedGEvA4nHaTwcru091E7ScHcQYk7i1z9BpS3GAbBd/r7pbABi5AvRhsuwFP5mvnC7m7Ag+U+w=="